pipe/step_function.asl.json
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Raw Extraction",
  "States": {
    "Raw Extraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${lambda_function_arn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Raw Partitions"
    },
    "Raw Partitions": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": ${raw_partitions},
        "WorkGroup": "primary",
        "ResultConfiguration": {
          "OutputLocation": "s3://athena-query-results-753251897225/"
        }
      },
      "Next": "Curated Processing"
    },
    "Curated Processing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": ${curated_processing},
        "WorkGroup": "primary",
        "ResultConfiguration": {
          "OutputLocation": "s3://athena-query-results-753251897225/"
        }
      },
      "End": true
    }
  }
}